<div class="search-form m-4">
     <form method="GET" action="/login">
          <div class="form-group">
               <label for="inputSearch">Search</label>
               <input type="text" name="q" class="form-control" id="inputSearch" placeholder="Search input...">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
     </form>
</div>